<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_Type_casting_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Type casting
It is a process of converting a variable from one data type to another in Python.

In [ ]:
# int() Type casting

print(int(123.45))
print(int(123.789641122321))
print(int(True))
print(int(False))
print((int("10")))

123
123
1
0
10

In [ ]:
# float()

print(float(10))
print(float(True))
print(float(False))
print(float("20"))
print(float("20.5"))

10.0
1.0
0.0
20.0
20.5

In [ ]:
#print(float('Karhtik'))

ValueError: could not convert string to float: 'Karhtik'

## bool
Bools (True/False) in Python are like tiny decision-makers. They control program flow based on conditions:

**If/else:** Choose between code blocks based on True/False.
**Loops:** Loop while something is True, stop when False.
**Comparisons:** Check if values are equal, greater/less than, etc. (True/False result).
**Checking flags/states:** Keep track of program status (on/off, done/not done).

In [ ]:
print(bool(0))
print(bool(1))
print(bool(0.0))
print(bool(5))
print(bool(0.5))
print(bool(""))
print(bool("Hi"))
print(bool("True"))
print(bool("False"))
print(bool(" "))
print(bool(False))     # bool value

False
True
False
True
True
False
True
True
True
True
False

In [ ]:
# Str

In [ ]:
print(str(10))
print(str(10.5))
print(str(True))

10
10.5
True

In [ ]:
#print(str(10.0.0.27))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-8-23609889f4d3>, line 1)

In [ ]:
# Python dynamically typed programming language
# int float complex bool str

In [ ]:
# To check the type

no = 5.0
name = 'Karthik'
karthik = True
value = 1


print(type(no))
print(type(name))
print(type(karthik))
print(type(value))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

From the above result are showing the class why because In the Python everything will be class. we will see it later

## id

* Returns a unique identifier for an object, typically its memory address.
* Useful for identifying object identity, which is distinct from object value.

In [ ]:
print(id(no))
print(id(name))
print(id(karthik))
print(id(value))

136482386652432
136482131300592
94749873083424
136482680488176

In [ ]:
state1 ='Karnataka'
state2 = 'Karnataka'


print(id(state1))
print(id(state2))

136482131296944
136482131296944

see the both Memory address are same.   it is used as memory efficient.

In [ ]:
# now see the results the state1 have changed the memory id,
#it won't change the existing memory, it will create the new memory
state1 ='tamilnadu'
state2 = 'Karnataka'

print(id(state1))
print(id(state2))

136482385622832
136482131296944

## Immutability

* Immutable - not changeable
*Mutable  - changeable
* Immutability in Python refers to the concept of objects that cannot be changed after creation. This means once their value is set, it remains fixed throughout the program's execution.

* **Immutable types:** Built-in data types like **int, float, bool, str, tuple, and frozenset** are immutable.


* **Mutable types:** **list, dict, and custom classes** without proper protection are mutable.

* Once we create an object in Python, we cannot change it. if we try to change that, a new object will be created inside memory.

# Constants:
* In the other programming languages there is constant key word(final/constant).

* In Python there is **no Constant**

* In Python the developers write a constant as In the **Capital letters**
(eg: INTEEST_RATE = 5 )
but we change it.

## Escape Characters Sequences

* \t : tab
* \n : next line/new line
* print("I\'m Karthikraja")  see its output, if we want quates,  we can use the back slash

In [ ]:
print("Hi Hello")
print("Hi\tHello")
print("Hi\nHello")
print("Hi\Hello")
print("I\'m Karthikraja")

Hi Hello
Hi	Hello
Hi
Hello
Hi\Hello
I'm Karthikraja

## Operators

 operators are like tiny tools that help you manipulate data and perform calculations. They're essentially symbols or keywords that you use to tell Python what kind of operation you want to do.
* Arithmatic operators + - * / % // **
* Relational Operators > >= < <=
* Equality Operators **==  !=**
* Logical Operators **and or not**
* Bitwise operators **& ^ | ~ >> <<**
* Membership Operator   **in not in**
* Ternary Operator/ conditional operators
* Identity Operators **is is not**
* Assignment Operators

In [ ]:
# Arithmatic operators
print(10+5)  # Addition
print(10-5)   # Subtraction
print(10*5)  # multiplication
print(10/5)  # Division
print(10//5)   # Floor division  ( 5 is exactly two times)
print(10/3)
print(10//3)   # Floor division  ( 3 is exactly Three times in the 10)
print(10%4)   # Modulus ( it prints the Remainder value of division. (O.P: 2))
print(10%3)    # Modulus ( it prints the Remainder value of division. (O.P: 1))
print(10**2)  # Exponentiation (power)
print(10**3)  # Exponentiation (power)
print(3**2)   # Exponentiation (power)

15
5
50
2.0
2
3.3333333333333335
3
2
1
100
1000
9

In [ ]:
# Relational Operators

print(10>5)
print(5>10)
print(10>=10)
print(10>10)

print(10<5)
print(5<10)
print(10<=10)
print(10<10)

True
False
True
False
False
True
True
False

In [ ]:
name1= 'karthik'   # assignment operator
name2='karthik'

print(name1>name2)
print(name1<name2)
print(name1<=name2)
print(name1>=name2)
print(name1==name2)

name3= 'raja'

print(name1>name3)
print(name3>name1)      # the string for the relational operation initially works on the Albhabetic sequence. and length of the string.
print(name3>=name1)
print(name3==name1)

False
False
True
True
True
False
True
True
False

In [ ]:
name1='abc'
name2='abcd'
name3= 'bacd'
print(name1<name2)
print(name2>name3)
print(name2<name3)

True
False
True

In [ ]:
# Chaining of Operators

print(10<20<30)
print(10<20>30)
print(10>20>30)
print(10<20<30<40<50)

True
False
False
True

In [ ]:
# Equality operators

print(10==20)      # comparing operator
print(10!=20)
print(10==20==30)
print(10!=20!=30)

False
True
False
True

In [ ]:
# Logical Operators
# is base on bitwise operator, it needs logical concepts

print(5 and 6)  # if both side have non zero it will give the second value.
print(0 and 5)  # if there is one zero also it will give 0.
print(1 and 5)
print(5 and 1)  # if both side have non zero it will give the second value.
print(0 and 0)  # if there is one zero or both side zero also it will give 0
print(6 and 5)

6
0
5
1
0
5

In [ ]:
print(5 or 6)
print(6 or 5)
print(0 or 5)  # If there is one value if other is zero also it will give value
print(1 or 5)  # it will give first value
print(5 or 1)
print(0 or 0)   # If there is both side Zero in 0

5
6
5
1
5
0

In [ ]:
a = True
b= not a
print(b)

False

In [ ]:
a = False
b= not a
print(b)

True

##Bitwise Operators
* **&**  Bitwise AND 	**Usecase:** Checking if specific bits are set, masking bits, extracting specific bits, creating bit flags.
* | Pipe
* ^   cap
* ~  tild
* <<  left shift
* right shift >>

In [ ]:
print(5 & 6)      # These concepts  needs the logical operation and binaries.
print(5|6)
print(5^6)
print(5>>6)
print(6<<5)

4
7
3
0
192

In [ ]:
# Membership Operator   in not in

sentence = " Bangalore is the capital of Karnataka"
print('Bangalore' in sentence)
print('Bangalore' not in sentence)
print('bangalore' in sentence)

True
False
False

In [ ]:
Learnt =['Tamil','English','Hindi','Kannada','Telugu','Malayalam']
print('Tamil' in Learnt)

True

In [ ]:
# Ternary Operator/ Conditional Operator

a,b = 10,20
c= 30 if a>b else 40
print(c)

40

In [ ]:
# if we don't the values, but if we need the min value for the one. see the logic following.
# a = ??
# b = ??
# c = ??
a=100
b=200
c=300
min = a if a<b and a<c else b if b<c else c
print(min)

a=1000
b=200
c=300
min = a if a<b and a<c else b if b<c else c
print(min)

100
200

In [ ]:
# Identity Operators
 # it is used to check the name of classes. or objects. we will see in detail while studyting OOPs.

a= 10
b=10
print(a==b)    # It is comparing the content
print(a is b)   # It is comparing the Memory ID/address

True
True

##input()##
* To get the Inputs from the user.
* The input() function in Python is a built-in tool that allows you to take input from the user

In [ ]:
name = input("Enter your Name :")
print("Hi", name , "Welcome to Python world")
print("Hi"+name+"Welocome to Python world")

Enter your Name :Karthikraja
Hi Karthikraja Welcome to Python world
HiKarthikrajaWelocome to Python world

In [ ]:
# Assignment Operator

no=5
# no= no+1 ==> no+= 1
no+= 1
no*= 1
no/=1
no//=1
no%=1

In [ ]:
no&= 1
no|=1
no^=1
no<<=1
no>>=1

In [ ]:
# input()

name = input("Enter your name: ")
print(name)
print(type(name))

Enter your name: Karthkraja
Karthkraja
<class 'str'>

In [ ]:
num1 = input('Enter no1: ')
num2 = input('Enter no2 :')
print("Total num is ", num1+num2)
print(type(num1))

Enter no1: 100
Enter no2 :200
Total num is  100200
<class 'str'>

* From the above results the input() function shows the input value is string.
* So, if want as a integer number we need to type casting while collecting the value.

In [ ]:
num1 = int(input('Enter no1: '))    # the int is the Type casting to the integers.
num2 = int(input('Enter no2 :'))
print("Total num is ", num1+num2)
print(type(num1))

Enter no1: 100
Enter no2 :200
Total num is  300
<class 'int'>

##eval()##
* The eval() function in Python is a powerful tool that lets you execute arbitrary Python code based on a string input.

In [ ]:
result = eval("10+20+30")
print(result)

60

In [ ]:
exp = input(" Enter any Arithmetic expression: ")
result2 = eval(exp)
print(result2)

 Enter any Arithmetic expression: 20-10+50*2
110

##Command Line Arguments##

we can give in the command line for many inputs as follows:

python3 main.py 10 20 30

here,

argv[0] --> main.py (file name or module name)

argv[1] --> 10

argv[2] --> 20

so we can give n number of input arguments in the command line.

* we will see in detail while module section.

##import
In Python, the **import** keyword is used to bring code from other modules or libraries into your **current script**. This allows you to reuse code that you've written elsewhere, or to use code that others have written and made available.
* **Modules and libraries:** Modules are **self-contained **Python files that contain functions, classes, and other definitions. **Libraries are collections of modules** that are typically related to a specific domain or functionality.

In [ ]:
import math            # math is a built-in module, we can import in the current script.
print(math.pi)
print(math.sin(45))
print(math.cos(30))

3.141592653589793
0.8509035245341184
0.15425144988758405

In [ ]:
from math import pi, sin, cos        # we can also import the functions that we required only.
print(pi)
print(sin(45))
print(cos(30))

3.141592653589793
0.8509035245341184
0.15425144988758405

## Output Options,

In [ ]:
a,b,c = 100,200,300

print(a,b,c)

print(a,b,c, sep=':')
print(a,b,c, end='-')

100 200 300
100:200:300
100 200 300-

## Fomatted String:
* %d --> int
* %i --> int
* %f --> float
* %s --> string

In [ ]:
a,b,c = 100,200,300

print("value of a is %d"%a)        # int type of format.
print("value of a is",a)           # Normal type
print("values of b and c are %d and %d"%(b,c))    # int type of format. user format is simple and code readability is simple

print("value of b is",b , "value of c is",c)   # Normal type the code readability is not good

value of a is 100
value of a is 100
values of b and c are 200 and 300
value of b is 200 value of c is 300

In [ ]:
print("value of a is %i"%a)
print("values of b and c are %i and %i"%(b,c))

value of a is 100
values of b and c are 200 and 300

In [ ]:
# for the string
name = 'Karthikraja'
print("My name is %s"%name)

My name is Karthikraja

##Replacement Operator
{}

In [ ]:
name =' Karthikraja'
designation = 'Data scientist'
city = 'Bangalore'
print('Hi my name is {0}. I am doing {1} job in the Baatu.tech company in {2}.'.format(name,designation,city))

Hi my name is  Karthikraja. I am doing Data scientist job in the Baatu.tech company in Bangalore.

In [ ]:
name =' Karthikraja'
designation = 'Data scientist'
city = 'Bangalore'
print('Hi my name is {}. I am doing {} job in the Baatu.tech company in {}.'.format(name,designation,city))

Hi my name is  Karthikraja. I am doing Data scientist job in the Baatu.tech company in Bangalore.

In [ ]:
name =' Karthikraja'
designation = 'Data scientist'
city = 'Bangalore'
print('Hi my name is {2}. I am doing {0} job in the Baatu.tech company in {1}.'.format(name,designation,city))

Hi my name is Bangalore. I am doing  Karthikraja job in the Baatu.tech company in Data scientist.

In [ ]:
name =' Karthikraja'
designation = 'Data scientist'
city = 'Bangalore'
print('Hi my name is {1}. I am doing {1} job in the Baatu.tech company in {2}.'.format(name,designation,city))

Hi my name is Data scientist. I am doing Data scientist job in the Baatu.tech company in Bangalore.

## Practice Programme.
write the programme to print center of letter in capigtal letter from the given name.
eg: karthik ---> karThik

In [41]:
name = input("Enter the Name: ")
mid = len(name)//2
midl= name[mid].upper()
print(name[:mid]+midl+name[(mid+1):])

Enter the Name: karthik
karThik