<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Strings
* Strings are used in Python to record text information, such as names. It could either be a word, a phrase, a sentence, a paragraph or an entire encyclopedia.
*  Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence.
* For example, Python understands the string "Karthik" to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

> ***Creating a String***
---
* To create a string in Python you need to use either single quotes or double quotes.

* Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [ ]:
string_single_quotes= 'Python'
string_double_quotes= "Python"
print(string_single_quotes)
print(string_double_quotes)

Python
Python

> ***We can use the print() statement to print a string.***
---

In [ ]:
# print('Linear Algebra')
# print('Calculus')
print('Use \n to print a new line')
print('\n')
print('See what \n I mean?')

Use
 to print a new line


See what
 I mean?

In [ ]:
# Be careful with quotes!
sentence= 'I'm using single quotes, but this will create an error'
print(sentence)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-11-5e7b6d7da870>, line 2)

* The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
sentence= "I'm using double quotes, but this won't create an error"
print(sentence)

I'm using double quotes, but this won't create an error

In [ ]:
hashtag = "#"
print(hashtag)
print(type(hashtag))

#
<class 'str'>

> ***Assign String to a Variable***
---
* Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello Karthik"
print(a)

> ***Multiline Strings***
---
* You can use three double quotes:

In [ ]:
# You can use three double quotes:

x= """ Python is a Interpretor Hight level programing language.
Their's syntax is simple and easy to readable
and it is also called dynamic programing language.
It has wide range of modlibraries and modules """

print(x)

 Python is a Interpretor Hight level programing language.
Their's syntax is simple and easy to readable
and it is also called dynamic programing language.
It has wide range of modlibraries and modules

In [ ]:
# You can use three single quotes:

x= ''' Python is a Interpretor Hight level programing language.
Their's syntax is simple and easy to readable
and it is also called dynamic programing language.
It has wide range of modlibraries and modules '''

print(x)

 Python is a Interpretor Hight level programing language.
Their's syntax is simple and easy to readable
and it is also called dynamic programing language.
It has wide range of modlibraries and modules

* Note: in the result, the line breaks are inserted at the same position as in the code.

#Strings are Arrays
* Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

* However, Python does not have a character data type, a single character is simply a string with a length of 1.
* Square brackets`[]` can be used to access elements of the string.

* Example
Get the character at position 1 (remember that the first character has the position 0):

In [ ]:
a="Hello Universe!"
print(a[1])

e

In [ ]:
a="Hello Universe!"
print(a[0])

H

> ***Looping Through a String***
---

* Since strings are arrays, we can loop through the characters in a string, with a `for` loop.

let's see later about `for` loop.

In [ ]:
# Loop through the letters in the word "Apple":
a = "Apple"
for letter in a:
  print(letter)

A
p
p
l
e

> ***String Length***
---
* To get the length of a string, use the `len()` function.

In [ ]:
a = "Karthik"
print(a)
print(len(a))

Karthik
7

> ***Check String***
---
* To check if a certain phrase or character is present in a string, we can use the keyword `in`.

In [ ]:
  # Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)
print("best" in txt)
print("happy" in txt)

True
True
False

**Use it in an `if` statement:**

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, the word 'free' in the txt")

Yes, the word 'free' in the txt

In [ ]:
txt = "The best things in life are free!"
if "lif" in txt:
  print("Yes, the word 'lif' in the txt")

Yes, the word 'lif' in the txt

In [ ]:
txt = "The best things in life are free!"
if "happy" in txt:
  print("Yes, the word 'happy' in the txt")

> ***Check if NOT***
---
* To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [ ]:
txt = "The best things in life are free!"
print("happy" not in txt)

True

# Slicing Strings
* You can return a range of characters by using the slice syntax.

* We can use a colon `:` to perform slicing which grabs everything up to a designated point.

* The starting index is specified on the left of the `:` and the ending index is specified on the right of the `:`.

* Remember the element located at the right index is not included.

In [ ]:
a= "Hello Universe!"
print(a[0])      # Grabbing Index

print(a[1])

print(a[1:4])    # Slice From the 1st indexn

print(a[:4])     # Slice From the Start      (By leaving out the start index, the range will start at the first character ':' )

print(a[2:])   # Slice To the End. By leaving out the end index, the range will go to the end :

H
e
ell
Hell
llo Universe!

***Negative Indexing***

In [ ]:
a= "Hello Universe!"
print(a[:-1])         # -1 is the last index of the strinG, OUR case "e" is the last letter of the sequence

print(a[-1:])

print(a[-5:])      # Negative slicing from the -5 index

print(a[-5:-1])     # Negative slicing from the -5 index to -1

Hello Universe
!
erse!
erse

In [ ]:
print(a[:])
print(a[::])

Hello Universe!
Hello Universe!

* We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
a= "Hello Universe!"

print(a[::1])            # Grab everything, but go in steps size of 1

print(a[::3])            # Grab everything, but go in steps size of 3

print(a[1:8:1])          # Grab the elements with starting from 1st index and to 8th Index and  steps size of 1

print(a[1:8:2])          # Grab the elements with starting from 1st index and to 8th Index and  steps size of 3

Hello Universe!
HlUvs
ello Un
el n

In [ ]:
print(a[::1])      # Grab everything, but go in steps size of 1

print(a[::-1])     # Grab everything, but go in Back wards.

print(a[6:12:1])

Hello Universe!
!esrevinU olleH
Univer

In [ ]:
print(a[6:12:-1])

In [ ]:
print(len(a))

print(a[6:15:1])

print(a[15:6:-1])         # Grab the elements with starting from last(15th) index to 6th Index and  steps size of 1 in back wards

print(a[15:6:-2])         # Grab the elements with starting from last(15th) index to 6th Index and  steps size of 2 in back wards

print(a[15:6:-3])         # Grab the elements with starting from last(15th) index to 6th Index and  steps size of 3 in back wards

print(a[4::-1])

15
Universe!
!esrevin
!sei
!ri
olleH

#String Properties
* It's important to note that strings have an important property known as `immutability`.
* This means that once a string is created, the elements within it can not be changed or replaced via item assignment. We will see how we can do such operation using string methods.

In [ ]:
# Can we change our string 'Hello' to 'Cello'? Lets try replacing the first letter H with C
a = "Hello"
a[0]="C"

TypeError: 'str' object does not support item assignment

* Notice how the error tells us directly what we can't do, that is we can't change the item assignment!

* Something we can do is concatenate strings!

#String Concatenation
*  To concatenate, or combine, two strings you can use the + operator.

In [ ]:
string1= 'abc'
string2= 'def'
print(string1+' '+string2)

abc def

In [ ]:
string1= 'abc'
string2= 'def'
print(string1+string2)

abcdef

In [ ]:
print(string1 + 4 + string2)

TypeError: can only concatenate str (not "int") to str

* To convert an integer into a string, you can use the str() function or you can simply write the number in quotes

In [ ]:
print(string1 + str(4) + string2)
print(string1 + '4' + string2)

abc4def
abc4def

In [ ]:
a= "Hello"
print(a+" Universe!")

Hello Universe!

In [ ]:
a="Karhik"
print(a*3)

KarhikKarhikKarhik

#String functions and methods

In [ ]:
string = 'Data Scientist'
print(string)

Data Scientist

***`len()`***
---
* `len()` function returns the length of the string

In [ ]:
print(len(string))

14

***`lower()`***
---
* lower() method converts the string to lowercase

In [ ]:
string.lower()

'data scientist'

#Note
* What about `lower(string)`? Is it not similar to the `len()`function?

* An important point to note here is `len()` is a function and `lower()` is a method for a string object. It will be pretty clear about the exact differences between a function and a method as we move ahead.

In [ ]:
lower(string)

NameError: name 'lower' is not defined

***`upper()`***
---
* `upper()` method converts the string to uppercase

In [ ]:
string.upper()

'DATA SCIENTIST'

***`count()`***
---
* `count()` method returns the count of a string in the given string. Unlike `lower()` and `upper()` method, the `count()` method takes a string as an argument

In [ ]:
print(string)

Data Scientist

In [ ]:
print(string.count('a'))

print(string.count('t'))

print(string.count('ta'))

print(string.count(' '))

print(string.count('Data'))

print(string.count('Karthik'))

2
3
1
1
1
0

***`find()`***
---
* `find()` method returns the index of the first occurrence of a string present in a given string. Similar to the `count()` method, the `find()` method takes a string as an argument

In [ ]:
string = 'Data Scientist'
print(string)

Data Scientist

In [ ]:
print(string.find("a"))

print(string.find('Data'))

print(string.find('ta'))

print(string.find('e'))

print(string.find("Scientist"))

1
0
2
8
5

* An important point to note here is that if the string which you are looking for, is not contained in the original string, then the find method will return a value of -1

In [ ]:
print(string.find('Karthik'))

print(string.find('z'))

-1
-1

***`replace()`***
---
* `replace()` method takes two arguments - `(i)` the string to replace and `(ii)` the string to replace with, and returns a modified string after the operation

In [ ]:
print(string.replace(' ','-'))

print(string.replace(' Scientist',' Engineer'))

print(string.replace('Data','AI'))

print(string.replace('Data Scientist','AI Engineer'))

Data-Scientist
Data Engineer
AI Scientist
AI Engineer

* Another important point worth noting here is applying any method on a string does not actually change the original string. For example, when you print out the algorithm string, it still contains the original value 'Data Scientist'

* We need to store the modified string in another variable

In [ ]:
print(string.replace('Data Scientist','AI Engineer'))

print(string)

string_modified= string.replace('Data Scientist','AI Engineer')

print(string_modified)

AI Engineer
Data Scientist
AI Engineer

***`split()`***
---
* The `split()` method returns a list where the text between the specified separator becomes the list items.

In [ ]:
string="Data, Scientist"

print(string.split(','))

['Data', ' Scientist']

#Format - Strings
* As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age=29
txt="My name is Karthik, I am "+age
print(txt)

TypeError: can only concatenate str (not "int") to str

* But we can combine strings and numbers by using f-strings or the format() method!

#F-Strings
* F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

* To specify a string as an f-string, simply put an `f` in front of the string literal, and add curly brackets `{}` as placeholders for variables and other operations.

In [ ]:
age=29
txt=f"My name is Karthik, I am {age}"
print(txt)

My name is Karthik, I am 29

In [ ]:
first_name = 'Karthik'
middle_name = ''
last_name = 'Raja'
full_name=f'I am {first_name}{middle_name} {last_name}, I am Data Scientist'
print(full_name)

I am Karthik Raja, I am Data Scientist

#Placeholders and Modifiers
* A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
#Add a placeholder for the price variable:
price = 75
text = f"The Price is {price} Dollars"
print(text)

The Price is 75 Dollars

* A placeholder can include a *modifier* to format the value.
* A modifier is included by adding a colon `:` followed by a legal formatting type, like `.2f` which means fixed point number with 2 decimals:

In [ ]:
price = 75
text = f"The Price is {price: .2f} Dollars"
print(text)

The Price is  75.00 Dollars

* A placeholder can contain Python code, like math operations:

In [ ]:
#Perform a math operation in the placeholder, and return the result:
price = 75
text = f"The Price of Mango is {price*2} Dollars"
print(text)

The Price of Mango is 150 Dollars

In [ ]:
price = 75
text = f"The Price is {5*2 : .2f} Dollars"
print(text)

The Price is  10.00 Dollars

* You can perform math operations on variables:

In [ ]:
price = 50
tax = 0.25
txt= f"The price is {price + (price* tax)} Dollars"
print(text)

The Price is  10.00 Dollars

* You can perform `if...else` statements inside the placeholders:

In [ ]:
price = 50
txt = f"It is very {'Expensive' if price > 50 else 'Cheap'}"
print(txt)

It is very Cheap

* You can execute functions inside the placeholder:

* Use the string method `upper(`) to convert a value into upper case letters:

In [ ]:
fruit = "orange"
text= f"I like {fruit.upper()}"
print(text)

I like ORANGE

* The function does not have to be a built-in Python method, you can create your own functions and use them:

In [ ]:
# Create a function that converts feet into meters:
def my_converter(x):
  return x*0.3048

print(f"The plane is flying at a {my_converter(25000 )} meter altitude")

The plane is flying at a 7620.0 meter altitude

#More Modifiers
* At the beginning of this chapter we explained how to use the `.2f` modifier to format a number into a fixed point number with 2 decimals.

* There are several other modifiers that can be used to format values:

In [ ]:
price = 5000
text = f'The price is {price:,} dollars'
print(text)

The price is 5,000 dollars

#Here is a list of all the formatting types.

* Formatting Types

`:<`		Left aligns the result (within the available space)

`:>`		Right aligns the result (within the available space)

`:^`		Center aligns the result (within the available space)

`:=`		Places the sign to the left most position

`:+`		Use a plus sign to indicate if the result is positive or negative

`:-`		Use a minus sign for negative values only

`:` 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)

`:,`		Use a comma as a thousand separator

`:_`		Use a underscore as a thousand separator

`:b`		Binary format

`:c`		Converts the value into the corresponding Unicode character
`:d`		Decimal format

`:e`		Scientific format, with a lower case e

`:E`		Scientific format, with an upper case E

`:f`		Fix point number format

`:F`		Fix point number format, in uppercase format (show inf and nan as INF and NAN)

`:g`		General format

`:G`		General format (using a upper case E for scientific notations)

`:o`		Octal format

`:x`		Hex format, lower case

`:X`		Hex format, upper case

`:n`		Number format

`:%`		Percentage format

In [ ]:
price = 0.1
text = f'The Gole price is {price:%} increased '
print(text)

The Gole price is 10.000000% increased

#String format()
* Before Python 3.6 we used the `format()` method to format strings.

* The `format()` method can still be used, but `f-strings` are faster and the preferred way to format strings.

* The next examples in this page demonstrates how to format strings with the `format()` method.

* The `format()` method also uses curly brackets as placeholders `{}`, but the syntax is slightly different:

In [ ]:
price = 50
text = "The Price is {} dollars"
print(text.format(price))

The Price is 50 dollars

* You can add parameters inside the curly brackets to specify how to convert the value:

In [ ]:
#Format the price to be displayed as a number with two decimals:

price = 50
text = "The Price is {:.2f} dollars"
print(text.format(price))

The Price is 50.00 dollars

#Multiple Values
* If you want to use more values, just add more values to the format() method:

In [ ]:
item="Apple"
qty = "2kgs"
price = 50
my_order = "I want {} of {} for the price of {} INR"
print(my_order.format(item,qty,price))

I want Apple of 2kgs for the price of 50 INR

In [ ]:
my_order = f"I want {item} of {qty} for the price of {price} INR"
print(my_order)

I want Apple of 2kgs for the price of 50 INR

#Index Numbers
* You can use index numbers (a number inside the curly brackets `{0}`) to be sure the values are placed in the correct placeholders:

In [ ]:
item="Apple"
qty = "2 kgs"
price = 50
my_order = "The Price of {0} is {2} INR per kg, I wants to buy for {1} "
print(my_order.format(item,qty,price))

The Price of Apple is 50 INR per kg, I wants to buy for 2 kgs

#Named Indexes
You can also use named indexes by entering a name inside the curly brackets `{carname}`, but then you must use names when you pass the parameter values txt.format(carname = "Range Rover"):

In [ ]:
my_car = "My car name is {carname} which I have purchased in the {Year} and it is awesome"
print(my_car.format(carname="Range Rover", Year= 2026))

My car name is Range Rover which I have purchased in the 2026 and it is awesome

#Escape Characters
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
text = "This is the AI "Trending" world"

SyntaxError: invalid syntax (<ipython-input-64-2971d658679c>, line 1)

In [ ]:
#To fix this problem, use the escape character \":
text = "This is the AI \"Trending\" world"
print(text)

This is the AI "Trending" world

#Escape Characters
Code	Result

* `\'`	Single Quote
* `\\`	Backslash
* `\n`	New Line
* `\r`	Carriage Return
* `\t`	Tab
* `\b`	Backspace
* `\f`	Form Feed
* `\ooo`	Octal value
* `\xhh`	Hex value

In [ ]:
text = "This is the AI \\Trending\\ world"        # Inserts one backslash
print(text)

This is the AI \Trending\ world

In [ ]:
text = "This is the AI \nTrending world"        # Inserts new line
print(text)

This is the AI
Trending world

In [ ]:
text = "This is the AI \tTrending world"        # Inserts one tab
print(text)

This is the AI 	Trending world

In [ ]:
text = "This is the AI \bTrending world"        # Inserts Back space
print(text)

This is the AI Trending world

#String Methods
* Python has a set of built-in methods that you can use on strings.

* ***Note:*** All string methods return new values. They do not change the original string.

Method  	Description

`capitalize()`	Converts the first character to upper case

`casefold()`	Converts string into lower case

`center()`	Returns a centered string

`count()`	Returns the number of times a specified value occurs in a string

`encode()`	Returns an encoded version of the string

`endswith()`	Returns true if the string ends with the specified value

`expandtabs()`	Sets the tab size of the string

`find()`	Searches the string for a specified value
and returns the position of where it was found

`format()`	Formats specified values in a string

`format_map()`	Formats specified values in a string

`index()`	Searches the string for a specified value and returns the position of where it was found

`isalnum()`	Returns True if all characters in the string are alphanumeric

`isalpha()`	Returns True if all characters in the string are in the alphabet

`isascii()`	Returns True if all characters in the string are ascii characters

`isdecimal()`	Returns True if all characters in the string are decimals

`isdigit()`	Returns True if all characters in the string are digits

`isidentifier()`	Returns True if the string is an identifier

`islower()`	Returns True if all characters in the string are lower case

`isnumeric()`	Returns True if all characters in the string are numeric

`isprintable()`	Returns True if all characters in the string are printable

`isspace()`	Returns True if all characters in the string are whitespaces

`istitle()`	Returns True if the string follows the rules of a title

`isupper()`	Returns True if all characters in the string are upper case

`join()`	Joins the elements of an iterable to the end of the string

`ljust()`	Returns a left justified version of the string

`lower()`	Converts a string into lower case

`lstrip()`	Returns a left trim version of the string

`maketrans()`	Returns a translation table to be used in translations

`partition()`	Returns a tuple where the string is parted into three parts

`replace()`	Returns a string where a specified value is replaced with a specified value

`rfind()`	Searches the string for a specified value and returns the last position of where it was found

`rindex()`	Searches the string for a specified value and returns the last position of where it was found

`rjust()`	Returns a right justified version of the string

`rpartition()`	Returns a tuple where the string is parted into three parts

`rsplit()`	Splits the string at the specified separator, and returns a list

`rstrip()`	Returns a right trim version of the string

`split()`	Splits the string at the specified separator, and returns a list

`splitlines()`	Splits the string at line breaks and returns a list

`startswith()`	Returns true if the string starts with the specified value

`strip()`	Returns a trimmed version of the string

`swapcase()`	Swaps cases, lower case becomes upper case and vice versa

`title()`	Converts the first character of each word to upper case

`translate()`	Returns a translated string

`upper()`	Converts a string into upper case

`zfill()`	Fills the string with a specified number of 0 values at the beginning