<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[link text](https://)

**05/06/2023**

In [ ]:
print("Hello Karthikraja G. Civil Engineer, Data scientist,Buinessman")

Hello Karthikraja G. Civil Engineer, Data scientist,Buinessman

**06/06/2023**

## **Functios**

So, fuctions is a main building device in programming and it is a block of codes which can be reusable, so it reduce the bunch of codes to write again and again.

In [ ]:
# Problem 1: Given two list of numbers and need to find the total value of the each list.
list1=[100,200,300,400]
list2=[900,800,700,600]
# By using for loop method.

total1=0
for values1 in list1:
  total1=total1+values1
print("The total values1 value by for loop ",total1)

total2=0
for values2 in list2:
  total2=total2+values2
print("The total values2 value by for loop ",total2)

# By using the Function.

def sum(list1):
  total=0
  for values in list1:
    total = total+values
  return total

print("The total value of list2 is :",sum(list2))
print("The total value of list1 is :",sum(list1))

The total values1 value by for loop  1000
The total values2 value by for loop  3000
The total value of list2 is : 3000
The total value of list1 is : 1000

In [ ]:
# By using the Function.
total=0
def sum(list1):
  total=0 # here total is the local variable

  for values in list1:
    total = total+values
  return total

print("The total value of list2 is :",sum(list2))
print("The total value of list1 is :",sum(list1))
print(total) # here total is the global variable

The total value of list2 is : 3000
The total value of list1 is : 1000
0

**07/06/2023**

In [ ]:
# Extract a last letters from the Sentence.
quote= "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."
# from the for loop
split_words=quote.split(' ')
for lastlet in split_words:
  lastlet=lastlet[-1]
  print(list(lastlet))

print(split_words)

['t']
['s']
['o']
['t']
['t']
['.']
[',']
['u']
['y']
['t']
['w']
['o']
['e']
['g']
[',']
['o']
['t']
['e']
['e']
['u']
['.']
['I']
['m']
['t']
['n']
[',']
['.']
['I']
['m']
['e']
['.']
['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [ ]:
# By using function for extracting first letters

def firstlet(quote):
  split_words=quote.split(' ')
  for firstlet in split_words:
    #print(firstlet)
    firstlet=(firstlet[0])
    return firstlet

firstlet(quote)

'I'

In [ ]:
 # By using fuction and list comphrehension
 any_sentence= "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

# define the fuction
def lastlet(any_sentence):
  # get words in sentence
  get_words = any_sentence.split()
  lastlet = [lastlet[-1] for lastlet in get_words]
  return lastlet

print(lastlet(any_sentence))
#create a sentence
about_you = " my name is Karthikraja and i worked as civil engineer for 6 years and currently im doing Data scientist job and also i will become a succefull buisiness man asap and with i am enjoying every moment of life"
# store the result of the function in another variable
lastletters=lastlet(about_you)
print(lastletters)

['t', 's', 'o', 't', 't', '.', ',', 'u', 'y', 't', 'w', 'o', 'e', 'g', ',', 'o', 't', 'e', 'e', 'u', '.', 'I', 'm', 't', 'n', ',', '.', 'I', 'm', 'e', '.']
['y', 'e', 's', 'a', 'd', 'i', 'd', 's', 'l', 'r', 'r', '6', 's', 'd', 'y', 'm', 'g', 'a', 't', 'b', 'd', 'o', 'i', 'l', 'e', 'a', 'l', 's', 'n', 'p', 'd', 'h', 'i', 'm', 'g', 'y', 't', 'f', 'e']

In [ ]:
2.# write a fuction for factorial of the given number

# By using while looping

number = int(input("Enter the number for Factorial :"))
factorial =1
while number>0:
  factorial *= number
  number -= 1
print(f" The factorail is :{ factorial}")

Enter the number for Factorial :5
 The factorail is :120

In [ ]:
# By using Function.

def factorial(no):
  #number=int(input("Enter the factorial number :"))
  no= no
  factorial = 1
  while no>0:
    factorial *= no
    no -=1
  return(factorial)


factorial(5)

120

** 08/06/2023**

In [ ]:
##1. Write a python code to print Quarter of the year from the given user date string.

def Year_quarter():
  user_date = input("Enter the date as the format of YYYY-MM-DD : ")
  date_year = user_date[:4]
  date_month = user_date[5:7]
  if date_month >='01' and date_month <= '03':
    Quarter = (f'{date_year} is Quarter of Q1')
  elif date_month >= '04' and date_month <= '06':
    Quarter = (f'{date_year} is Quarter of Q2')
  elif date_month >= '07' and date_month <= '09':
    Quarter = (f'{date_year} is Quarter of Q3')
  else:
     Quarter = (f'{date_year} is Quarter of Q4')
  return Quarter
  #print(Quarter)

In [ ]:
Year_quarter()

Enter the date as the format of YYYY-MM-DD : 2023/06/08

'2023 is Quarter of Q2'

## 2 .To find the is even or odd from user.by fucrtrion.( multiple return function

In [ ]:
def even_or_odd():
  num=int(input("Enter any Number : "))
  if num %2 ==0:
    return (f"The number {num} is Even")
  return (f"The number {num} is odd")

even_or_odd()

Enter any Number : 9

'The number 9 is odd'

**09/06/2023**

In [ ]:
##m 1. To find the Mean and Median for the given list of numbers from the user.
def Mean_Median():
  num_list = input("Enter the Number list of minimum 6 nos by seperated with commas : ")
  num_list = num_list.split(',')   # splitting the values by commas.
  num_list = [int(num) for num in num_list] # this is required to convert list elements str to int.
  n=[1,2,3,4,5,6]
  if len(num_list) >= len(n): # to instruct user to enter req numbers

    # To find the mean
    Mean = sum(num_list)/len(num_list)

   # to find the Median
    sorted_list = sorted(num_list)
    if len(sorted_list) %2 == 0:
      list_len = len(sorted_list)
      Median = (sorted_list[int((list_len)/2)-1]+ sorted_list[int(list_len/2)])/2
    else:
      Median = int((len(sorted_list)+1)/2)-1
    return (f'The Mean value is { Mean } and the Median is { Median }')
  else:
    print(" Please Enter above 6 digit counts with proper comma seperated ")

In [ ]:
Mean_Median()

Enter the Number list of minimum 6 nos by seperated with commas : 2,2,2,2,2,2,2,2,2352,2,5,55,5,2

'The Mean value is 174.07142857142858 and the Median is 2.0'

In [ ]:

Mean_Median()

Enter the Number list of minimum 6 nos by seperated with commas : 1,2,3,4,5
 Please Enter above 6 digit counts with proper comma seperated

**21-06-2023**
write a function which adds elements to a list.

In [ ]:
def list_append(my_list,elem):
  new_list=(my_list+[elem])
  return new_list

In [ ]:
num_list=[1,2,3,4,5,6]
list_append(num_list,7)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list_append(num_list,elem=[7,8])

[1, 2, 3, 4, 5, 6, 9, 9, 9, 9, 9, [11, 12], [7, 8]]

In [ ]:
num_list.append(9)
print(num_list)

[1, 2, 3, 4, 5, 6, 9, 9, 9, 9, 9]

In [ ]:
num_list.append([11,12])

In [ ]:
print(num_list)

[1, 2, 3, 4, 5, 6, 9, 9, 9, 9]

In [ ]:
print(num_list.pop())

9

In [ ]:
print(num_list)

[1, 2, 3, 4, 5, 6, 9, 9]

**27-06-2023**

Write a fuction to insert element on specified index.(METHODS)

In [1]:
def Insert_element(req_list,req_index,element_to_insert):
  first_part=req_list[0:req_index]
  print(first_part)
  first_part.append(element_to_insert)
  print(first_part)
  last_part= req_list[req_index:]
  print(last_part)
  first_part.extend(last_part)
  print(first_part)
  return first_part

In [ ]:
heights= [150,155,160,165,170,175,180]
updated_heights = Insert_element(heights,2,159)
print(updated_heights)

[150, 155]
[150, 155, 159]
[160, 165, 170, 175, 180]
[150, 155, 159, 160, 165, 170, 175, 180]
[150, 155, 159, 160, 165, 170, 175, 180]