# Python

# Python usess 
""" 
* Web applicatoins
* Mobile applications 
* Games 
* DB
* Networking programming
* Data Science / Machine learning
"""    
# Advantages of Python

* Simple
* Open source and free
* Platform indipendence( Linux/windows) Python virtual machine.
* Portability
* Dynamically typed ( no need to specify Data types eg: int,float etc)
* Multiparadigm
* Huge Libraries and Modules.

In [4]:
# examples for python lybrary and module
import math 
math.factorial(5)
result= math.factorial(5)
print(result)

120

'''External modules examples
*selinium
*beutiful soup
*pandas
*numpy
'''

# Flavaurs of Python 
 this means the other languages co ordinating with python.

*pypy (high performance python)
*jypython (it can run in Java virtual machine )
*cython ( it con run with C language)
*IronPython and etc etc ( this is with C#)
*Ruby python
*Anaconda python( large set of Data processing)

In [2]:
# First programme
print('This is my first programme')
print('My name is Karthikraja')

This is my first programme
My name is Karthikraja

In [8]:
print(5+3)
print(5*8) # Multiplication
print(5+2*3) # BODMAS 
print(2**3+2*3)
print((2**3)+2*3)
print((2**3+2)*3)
print((5+2)*5)

8
40
11
14
14
30
35

In [6]:
print(100/3) # Division
print(100-3) # Subtraction
print(100//3) # Floor division
print(2*3) # Multilpication
print(2**3) # Exponentiation
print(100%7) # Modulus ( result will be remainder)
print(100%9)
print(100%2)

33.333333333333336
97
33
6
8
2
1
0

In [26]:
# Identifiers - Variables - Reference variables 
# Rules for identifiers
""" 
* Alphabets - small/capital
* Numbers are allowed (but after start with alphabets)
* Only under score (_) is allowed remaining special charector is not allowed
* Space is not allowed
* Case sensitive
* No limitation (we can write any length)
* Reserved words in python should not be used for indentifiers
* _,__ starting -->  is called as private variables
* majic methods --> __add__ ( already defined functions)
"""

door_no = 5   # = --> Assignment operators 
print(door_no)
name= 'Karthikraja'
print(name)
name="Karthikraja"
print(name)
tamil1= 5
print(tamil1)
tamil2= 6
print(tamil2)
tamil_1 = 3
print(tamil_1)
TAMIL2= 1
print(TAMIL2)
_tamil=2        # private variables
print(_tamil)
#  2tamil=7
#  print(2tamil)
__tamil = 9
print(__tamil)   # private variables
_tamil_=8
print(_tamil_)

5
Karthikraja
Karthikraja
5
6
3
1
2
9
8

In [40]:
# Python Reserved words 
""" 
In python there are 33 reserved words ( Eg: True, Falsej, None 
and, or, not, is 
if, elif,else
while, for, break,continue,return, yeild, in 
try, except, finally, raise, assert )
"""
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [1]:
# Data Types
"""
Dynamically typed prigramming and it is called as Duck typed programming language
( because we never menstion data types before variables ) explicitly in python.
Python will automatically their corresponding data types based on what we menstion the datas.
* In python tere are 14 inbuilt data types are present.( eg: int, float, complex,str,bool, bytes,bytearray
 range,list, set,forezenset, tuple, dict,None ).
 """

'\nDynamically typed prigramming and it is called as Duck typed programming language\n( because we never menstion data types before variables ) explicitly in python.\nPython will automatically their corresponding data types based on what we menstion the datas.\n* In python tere are 14 inbuilt data types are present.( eg: int, float, complex,str,bool, bytes,bytearray\n range,list, set,forezenset, tuple, dict,None ).\n '

In [9]:
karthik = 5
print(karthik)
print(type(karthik))  # "type" function is used to print Data type of the variable to be used.

no=5.5
print(no)
print(type(no))

result= True
print(result)
print(type(result))

words = "Karthikraja" # strings can specify single quates and double quates.
word='karthikraja'
print(words)
print(type(words))
print(word)
print(type(word))

first_list=['karthikraja', 1, 5.5, True, [("karthik", "raja")] ]
print(first_list)
print(type(first_list))

first_tuple=()
print(type(first_tuple))

first_dict= {}
print(type(first_dict))

5
<class 'int'>
5.5
<class 'float'>
True
<class 'bool'>
Karthikraja
<class 'str'>
karthikraja
<class 'str'>
['karthikraja', 1, 5.5, True, [('karthik', 'raja')]]
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [25]:
# id
  # it gives  the address of the data types

no = 10
print(no)
print(id(no))

no2= 20 
print(no2)
print( id(no2))



## like this python have many inbuilt functions we can learn linmply search in Google.
# * len()
name="karthik"
print(len(name))

# * round()
no=5.54434
print(no)

print(round(no))
print(round(no,2))
print(round(no,3))

10
9788896
20
9789216
7
5.54434
6
5.54
5.544

In [34]:
# Integer data type --> int
# * Decimal form  --> normal numbers( eg: 123,3,34)
# * Binary form   --> zero's and one's
# * Octal form    --> it is Base 8.--> it should be 0,1,2,3,4,5,6,7
# * Hexadecimal form  --> --> it is Base 16.--> it should be 0,1,2,3,4,5,6,7,8,9 and A,B,C,D,E,F

# * Decimal form --> normal numbers( eg: 123,3,34)

no= 233

print(no)

# * Binary form   --> zero's and one's

no = 0B0101   # --> we should menstion 0B or 0b in back of binary numbers 
print(no)     #---> result will be normal number which is the equlant of binary number.

no= 0b1001
print(no)

# * Octal form    --> it is Base 8.--> it should be 0,1,2,3,4,5,6,7

no= 0o776   # --> we should menstion 0o or 0O in back of binary numbers 
print(no)

no2=0O766
print(no2)


# * Hexadecimal form  -->  it is Base 16.--> it should be 0,1,2,3,4,5,6,7,8,9 and A,B,C,D,E,F

no= 0x776A   # --> we should menstion 0x or 0X in back of binary numbers.
print(no)

no2=0X12
print(no2)
no3=0XBC
print(no3)

233
5
9
510
502
30570
18
188

In [1]:
# Function

#bin()

no=bin(20)
print(no)

#oct()

no=oct(20)
print(no)

#hex()

no=hex(20)
print(no)

0b10100
0o24
0x14

In [3]:
## FLOAT DATATYPE --> float ( any length of number can be saved)
no= 5.2344554543434343334
print(no)

5.2344554543434345