<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_Control_Flow_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Control Flow Statements**
They allow you to introduce logic, decision-making, and repetition into your code, making it more dynamic and powerful.
* **Conditional statements:** if, if-else, if-elif-else
* **Looping statements:** for, while
* **Other control flow statements:** break, continue, pass.

* **1. Conditional statements:**

**if statements:** They execute a block of code only if a certain condition is true.
**if-else statements:** They provide alternatives based on the truth of a condition. The else block executes if the if condition is false.
**if-elif-else ladders:** Allow for multiple conditions to be checked successively, like a decision tree.
2. **Looping statements:**

**for loops:** They iterate over a sequence of items, executing a block of code for each item.
**while loops:** They continue to execute a block of code as long as a certain condition is true.
3. **Other control flow statements:**

**break statement:** Used within loops to exit the loop prematurely.
**continue statement:** Used within loops to skip to the next iteration.
**pass statement:** Useful as a placeholder when a block of code is needed syntactically but its content is empty.

In [ ]:
# Eg: if mark is greater than 90, say "very good". Otherwire, say "good".
# See the above sentence we can try the programme for that.

mark = 90
if mark>= 90:        # the colon(:) is similar to the coma(,) in the sentence.
  print("very good")
else:                # the colon(:) is similar to the coma(,) in the sentence.
  print("good")

# So, the above programme is similar the the above sentence.

very good

In [ ]:
# There is not neccesary for the else part. if we want to print what we didn't get expected result.
mark = 80
if mark>= 90:
  print("very good")

In [ ]:
# Eg 2 :-
name = input("Enter your name")
if name == "Karthikraja":
  print("Glad to meet you",name)
print("Hello")

Enter your nameKarthikraja
Glad to meet you Karthikraja
Hello

In [ ]:
name = input("Enter your name")
if name == "Karthikraja":
  print("Glad to meet you",name)
print("Hello")

Enter your nameRaja
Hello

In [ ]:
# if-elif-else
mark = int(input("Enter your mark :"))
if  mark>=90:
  print("O grade")
elif mark>=80:                # so we can give n numbers of elif(else if = for other languages. here elif.
  print("A grade")
elif mark>=70:
  print("B grade")
elif mark>=60:
  print("C grade")
else:
  print(" we are in the same boat")

Enter your mark :90
O grade

In [ ]:
mark = int(input("Enter your mark :"))
if  mark>=90:
  print("O grade")
elif mark>=80:                # so we can give n numbers of elif(else if = for other languages. here elif.
  print("A grade")
elif mark>=70:
  print("B grade")
elif mark>=60:
  print("C grade")
elif mark>=50:
  print(" we are in the same boat1")
else:
  print("Fail")
  print("we are in the same boat1")

Enter your mark :30
Fail
we are in the same boat1

In [ ]:
# Comparing the two persons marks and print who is first5
mark1 = int(input("Enter the 1st person's total 10th mark: "))
mark2 = int(input("Enter the 2nd person's total 10th mark: "))
if mark1>mark2:
    print("1st person got highst marks:",mark1)
elif mark2>mark1:
    print("2nd person got highst marks:",mark2)
else:
    print("Both are same marks",mark1,mark2)

Enter the 1st person's total 10th mark: 500
Enter the 2nd person's total 10th mark: 000500
Both are same marks 500 500

##Nested control flow statements
* In Python, a nested if statement is a conditional statement (if statement) **that is placed inside another conditional statement**.

* This allows for **more complex decision-making** based on multiple conditions.

In [ ]:
total = int(input("Enter the total mark: "))
if total>400:
  English = int(input("Enter the English mark: "))
  if English>90:
    print("Very good")
  else:
    print("Good")
else:
  Print(" OK Thanks")

Enter the total mark: 460
Enter the English mark: 80
Good

In [ ]:
total = int(input("Enter the total mark: "))
if total>400:
  English = int(input("Enter the English mark: "))
  if English>90:
    print("Very good")
  else:
    print("Good")
else:
  Print(" OK Thanks")

Enter the total mark: 470
Enter the English mark: 95
Very good

## Iterative Statements:
* In Python, Iterative satements used to execute the block of code repeatedly based on some condition or sequence.

* **for loop:**
The for loop iterates over a sequence (such as lists, tuples, strings, or ranges) and executes the block of code for each element in the sequence until the sequence is exhausted.

* **while loop:**
It Executes a block of code as long as specified condition is True. It repeatedly checks the condition before executing the block.

##for loop##

eg.1: Let us print each element of our list of strings using a for loop statement

In [4]:
list_names = ['karthik','raja','Ram','Sindhu','Adhavan','Adhitya']
for name in list_names[::-1]:   # By reverse side
  print(f'The name of member is {name}')

The name of member is Adhitya
The name of member is Adhavan
The name of member is Sindhu
The name of member is Ram
The name of member is raja
The name of member is karthik

Eg.2: Another interesting way to loop through the elements of a list is to use the enumerate() function. Using enumerate requires us two iterators index and element

In [6]:
list_names = ['karthik','raja','Ram','Sindhu','Adhavan','Adhitya']
for index,name in enumerate(list_names):
  print(f'The index {index} has the name is {name}')

The index 0 has the name is karthik
The index 1 has the name is raja
The index 2 has the name is Ram
The index 3 has the name is Sindhu
The index 4 has the name is Adhavan
The index 5 has the name is Adhitya

In [10]:
list(enumerate(list_names))

[(0, 'karthik'),
 (1, 'raja'),
 (2, 'Ram'),
 (3, 'Sindhu'),
 (4, 'Adhavan'),
 (5, 'Adhitya')]

In [11]:
a=1,2
a

(1, 2)

Eg.3: Given a list of numbers. You need to find the corresponding squares of these numbers and zip them together in a dictionary

In [14]:
list_numbers = [1, 2, 4, 6, 11, 14, 17, 20]
for number in list_numbers:
  print(f'The square of {number} is {number**2}')

The square of 1 is 1
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 11 is 121
The square of 14 is 196
The square of 17 is 289
The square of 20 is 400

In [16]:
#Imagine a scenario where we not only needed to print these numbers for each iteration but also we need to store these elements somewhere else
list_squares = []
for number in list_numbers:
  list_squares.append(number**2)      # Use the append method to add the numbers one by one to our list
print(f'The list of squared numbers is {list_squares}')

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [17]:
# to zip them
print(list(zip(list_numbers,list_squares)))

[(1, 1), (2, 4), (4, 16), (6, 36), (11, 121), (14, 196), (17, 289), (20, 400)]

In [18]:
print(dict(zip(list_numbers,list_squares)))

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}