<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_List_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##List comprehensions
*  List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

*  List comprehensions in Python are great, but mastering them can be tricky because they don’t solve a new problem: they **just provide a new syntax** to solve an existing problem.

#From loops to comprehensions

*  Every list comprehension can be rewritten as a for loop but not every for loop can be rewritten as a list comprehension. The key to understanding when to use list comprehensions is to practice identifying problems that smell like list comprehensions. If you can rewrite your code to look just like this for loop, you can also rewrite it as a list comprehension:

#example-1: getting the squares of the numbers in a list

In [ ]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 8, 10, 12, 20]

By usual way to do this using  for loop is described below:

In [ ]:
squared_list =[]
for number in list_of_numbers:
  squared_list.append(number**2)
print(squared_list)

[1, 4, 16, 25, 36, 49, 64, 100, 144, 400]

By using List-Comprehensions

In [ ]:
list_of_numbers = [1, 2, 4, 6, 8, 10, 12, 20]
squared_list=[number**2 for number in list_of_numbers]
print(squared_list)

[1, 4, 16, 36, 64, 100, 144, 400]

By applying some conditions

eg-1: Print the suared numbers only for the even numbers usig list comprehensions

In [ ]:
list_of_numbers = [1, 2, 4,5, 6,7, 8, 10, 12, 20]

suqared_even_list = [number**2 for number in list_of_numbers if number%2==0]
print(suqared_even_list)

[4, 16, 36, 64, 100, 144, 400]

eg.2: some other conditions

In [ ]:
list_of_numbers = [1, 2, 4,5, 6,7, 8, 10, 12, 20]

new_numbers = [number**2 for number in list_of_numbers if number%2==0 else number**3]
print(new_numbers)

SyntaxError: invalid syntax (<ipython-input-9-e418e2b73e8e>, line 3)

In [ ]:
list_of_numbers = [1, 2, 4,5, 6,7, 8, 10, 12, 20]

new_numbers = [number**2 if number%2==0 else  number**3 for number in list_of_numbers]
print(new_numbers)

[1, 4, 16, 125, 36, 343, 64, 100, 144, 400]

In [ ]:
# Using for loop
even_squared_numbers = []

for number in list_of_numbers:
  if number%2 == 0:
    even_squared_numbers.append(number**2)
print(even_squared_numbers)

[4, 16, 36, 64, 100, 144, 400]

So how did we convert our for loop into a list comprehension?

Copying the variable assignment for our new empty list

Copying the expression number**2 that we’ve been appending into this new list

Copying the for loop line, excluding the final :

Copying the if statement line, also without the :

#Writing list comprehensions for nested loops

In [ ]:
# to obsurve how the values added the list
range_list= []
for num1 in range(4):
  print('\n',num1)
  for num2 in range(3):
   print('\n',num1)
   range_list.append(num1)
   print(range_list)
print('\n\n',range_list)

 0

 0
[0]

 0
[0, 0]

 0
[0, 0, 0]

 1

 1
[0, 0, 0, 1]

 1
[0, 0, 0, 1, 1]

 1
[0, 0, 0, 1, 1, 1]

 2

 2
[0, 0, 0, 1, 1, 1, 2]

 2
[0, 0, 0, 1, 1, 1, 2, 2]

 2
[0, 0, 0, 1, 1, 1, 2, 2, 2]

 3

 3
[0, 0, 0, 1, 1, 1, 2, 2, 2, 3]

 3
[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3]

 3
[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]


 [0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
# to obsurve how the values added the list
range_list= []
for num1 in range(4):
  print('\n',num1)
  for num2 in range(3):
   print('\n',num1)
   range_list.append(num2)
   print(range_list)
print('\n\n',range_list)

 0

 0
[0]

 0
[0, 1]

 0
[0, 1, 2]

 1

 1
[0, 1, 2, 0]

 1
[0, 1, 2, 0, 1]

 1
[0, 1, 2, 0, 1, 2]

 2

 2
[0, 1, 2, 0, 1, 2, 0]

 2
[0, 1, 2, 0, 1, 2, 0, 1]

 2
[0, 1, 2, 0, 1, 2, 0, 1, 2]

 3

 3
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]

 3
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

 3
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]


 [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
range_list= []
for num1 in range(4):
  for num2 in range(3):
   range_list.append(num2)
print(range_list)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
nested_list = [num1 for num1 in range(4) for num2 in range(3)]
print(nested_list)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

In [ ]:
nested_list = [num2 for num1 in range(4) for num2 in range(3)]
print(nested_list)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

## But that’s not right! I’ve mistakenly flipped the <code>for</code> loops here. The correct version is the one above. When working with nested loops in list comprehensions remember that the for clauses remain in the same order as in our original for loops.

### Now let us see how we can create list of lists using list comprehension

In [ ]:
sample_list= [[]]
print(len(sample_list))
sample_list[0]

1

[]

In [ ]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list
  list_of_lists.append([])  # [[0]] , list_of_lists[1]
  #print(list_of_lists)

  for num2 in range(3):
    # Append the elements within the sublist
    list_of_lists[num1].append(num2)  #list_of_lists[0]

print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Using list comprehension we can write the same thing
nested_list1 = [[num2 for num2 in range(3)] for num1 in range(4)]
nested_list1

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
nested_list2 = [[num1 for num2 in range(3)] for num1 in range(4)]
nested_list2

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

##Up till now, we have only implemented list comprehension for list objects. We know that there are other iterables in Python which are sequence of elements such as strings, tuples etc. Let us try and apply list comprehension to iterate over their elements.

In [ ]:
Lao_Tzu_Quote= "The journey of a thousand miles begins with a single step."
words_by_Lao = Lao_Tzu_Quote.split(' ')
print(words_by_Lao)
for word in words_by_Lao:
  print(word)

# print the firs letters of the words
  print(word[0])

['The', 'journey', 'of', 'a', 'thousand', 'miles', 'begins', 'with', 'a', 'single', 'step.']
The
T
journey
j
of
o
a
a
thousand
t
miles
m
begins
b
with
w
a
a
single
s
step.
s

In [ ]:
# print the firs letters of the words
for word in words_by_Lao:
  print(word[0])

T
j
o
a
t
m
b
w
a
s
s

# By list comprehension

In [ ]:
Lao_Tzu_Quote= "The journey of a thousand miles begins with a single step."
words_by_Lao = Lao_Tzu_Quote.split(' ')
print(words_by_Lao)
first_letter = [word[0] for word in words_by_Lao]
print(first_letter)

['The', 'journey', 'of', 'a', 'thousand', 'miles', 'begins', 'with', 'a', 'single', 'step.']
['T', 'j', 'o', 'a', 't', 'm', 'b', 'w', 'a', 's', 's']

#We can also use list comprehension to get a tuple as well.
Note we cannot just specify parentheses and get this to work. It would create a generator object so we need to call the tuple function

In [ ]:
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')
first_letter = tuple(word[0] for word in days)
print(first_letter)

('M', 'T', 'W', 'T', 'F', 'S', 'S')

In [ ]:
first_letter = tuple(word[:-2] for word in days)
print(first_letter)

('Mond', 'Tuesd', 'Wednesd', 'Thursd', 'Frid', 'Saturd', 'Sund')

##Set Comprehension

In [1]:
Lao_Tzu_Quote= "The journey of a thousand miles begins with a single step."
words_in_Lao =Lao_Tzu_Quote.split(' ')
print(words_in_Lao)

# By Normal for loop
set_comprehension = set()
for words in words_in_Lao:
  set_comprehension.add(words)
print(set_comprehension)  # so in the set the words are arranged in uniqe and un positional

['The', 'journey', 'of', 'a', 'thousand', 'miles', 'begins', 'with', 'a', 'single', 'step.']
{'a', 'with', 'step.', 'of', 'begins', 'thousand', 'single', 'journey', 'miles', 'The'}

In [ ]:
for words in words_in_Lao:
  set_comprehension.add(words[0])
print(set_comprehension)

{'w', 'm', 't', 'b', 's', 'a', 'o', 'T', 'j'}

In [3]:
set_comprehension = {words[0] for words in words_in_Lao}
set_comprehension

{'T', 'a', 'b', 'j', 'm', 'o', 's', 't', 'w'}