<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_Type_casting_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Type casting
It is a process of converting a variable from one data type to another in Python.

In [ ]:
# int() Type casting

print(int(123.45))
print(int(123.789641122321))
print(int(True))
print(int(False))
print((int("10")))

123
123
1
0
10

In [ ]:
# float()

print(float(10))
print(float(True))
print(float(False))
print(float("20"))
print(float("20.5"))

10.0
1.0
0.0
20.0
20.5

In [ ]:
print(float('Karhtik'))

ValueError: could not convert string to float: 'Karhtik'

## bool
Bools (True/False) in Python are like tiny decision-makers. They control program flow based on conditions:

**If/else:** Choose between code blocks based on True/False.
**Loops:** Loop while something is True, stop when False.
**Comparisons:** Check if values are equal, greater/less than, etc. (True/False result).
**Checking flags/states:** Keep track of program status (on/off, done/not done).

In [ ]:
print(bool(0))
print(bool(1))
print(bool(0.0))
print(bool(5))
print(bool(0.5))
print(bool(""))
print(bool("Hi"))
print(bool("True"))
print(bool("False"))
print(bool(" "))
print(bool(False))     # bool value

False
True
False
True
True
False
True
True
True
True
False

In [ ]:
# Str

In [ ]:
print(str(10))
print(str(10.5))
print(str(True))

10
10.5
True

In [ ]:
print(str(10.0.0.27))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-8-23609889f4d3>, line 1)

In [ ]:
# Python dynamically typed programming language
# int float complex bool str

In [1]:
# To check the type

no = 5.0
name = 'Karthik'
karthik = True
value = 1


print(type(no))
print(type(name))
print(type(karthik))
print(type(value))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

From the above result are showing the class why because In the Python everything will be class. we will see it later

## id

* Returns a unique identifier for an object, typically its memory address.
* Useful for identifying object identity, which is distinct from object value.

In [2]:
print(id(no))
print(id(name))
print(id(karthik))
print(id(value))

133733486726704
133733473871216
94447060202528
133733769167088

## Immutability

* Immutable - not changeable
*Mutable  - changeable
* Immutability in Python refers to the concept of objects that cannot be changed after creation. This means once their value is set, it remains fixed throughout the program's execution.

* **Immutable types:** Built-in data types like **int, float, bool, str, tuple, and frozenset** are immutable.


* **Mutable types:** **list, dict, and custom classes** without proper protection are mutable.

In [10]:
state1 ='Karnataka'
state2 = 'Karnataka'


print(id(state1))
print(id(state2))

133733473633968
133733473633968

see the both Memory address are same