<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_Intro_Syntax_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**It is used for:**

* web development (server-side),

* software development,

* mathematics,

* system scripting.

**What can Python do?**

* Python can be used on a server to create web applications.

* Python can be used alongside software to create workflows.

* Python can connect to database systems. It can also read and modify files.

* Python can be used to handle big data and perform complex mathematics.

* Python can be used for rapid prototyping, or for production-ready software development.

#**Why Python?**

* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

* Python has a simple syntax similar to the English language.

* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.

* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

* Python can be treated in a procedural way, an object-oriented way or a functional way.

* Python has a vast array of libraries and tools that are specifically designed for data science, including NumPy, Pandas, Matplotlib, and Scikit-learn.

* Python has a large open source community that provides support, tutorials, and documentation, making it easier for beginners to learn and use Python for data science tasks.

#**Good to know**

The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.

#**Python Syntax compared to other programming languages**

* Python was designed for readability, and has some similarities to the English language with influence from mathematics.

* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.

* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

#Other Programing Languages similar to Python
**Ruby ðŸ§±**
Ruby is a dynamic, object-oriented programming language that shares many similarities with Python. Both languages emphasize simplicity, readability, and developer productivity. Ruby is often used for web development, and is the primary language behind the popular web framework Ruby on Rails.

**JavaScript ðŸŒ**
JavaScript is a high-level, dynamic programming language that is commonly used for web development. Like Python, JavaScript is easy to learn and has a simple syntax, and is often used for scripting and automation tasks. JavaScript is also an interpreted language, meaning that it can be run directly in a web browser without the need for compilation.

**Perl ðŸª**
Perl is a high-level, general-purpose programming language that shares many similarities with Python. Like Python, Perl is easy to learn and has a simple syntax, and is often used for text processing and system administration tasks. Perl is known for its powerful regular expression engine and its flexibility, making it ideal for a wide range of applications.

**Java â˜•ï¸**Java is a general-purpose, object-oriented programming language that is widely used for enterprise development. While Java has a more complex syntax than Python, it shares many similarities in terms of its focus on readability, maintainability, and performance. Java is known for its platform independence, which allows developers to write code once and run it on any platform that supports Java.

**Julia ðŸ“Š**
Julia is a high-level, high-performance programming language that is designed for numerical and scientific computing. Like Python, Julia is easy to learn and has a simple syntax, and is often used for data analysis, machine learning, and scientific computing. Julia is known for its speed and performance, and is often used for complex computations that require high-level abstractions and numerical precision.

Each of these programming languages has its own unique features and strengths, but all share a focus on simplicity, readability, and ease of use. Whether you're building web applications, analyzing data, or working on large-scale enterprise systems, there's a programming language that's right for your needs.

#Shortcomings
**Speed:** Python is an interpreted language, which can make it slower than compiled languages like C or C++.

**Memory management:** Python's memory management can be less efficient than languages like C or C++, which can lead to memory leaks and performance issues.

**Concurrency:** Python's Global Interpreter Lock (GIL) can make it challenging to take full advantage of multi-core processors.

**Error-prone:** Python's dynamic nature can make it more prone to errors, especially regarding type checking.

**Limited debugging capabilities:** Some IDEs for Python may not have advanced debugging features, such as the ability to step through code, set breakpoints, and inspect variables.

#IDE
* An Integrated Development Environment (IDE) is a software application that provides programmers with a comprehensive set of tools and features to write, debug, and test their code in a single interface.

* IDEs often include a text editor, a debugger, a compiler, and other features like autocomplete, syntax highlighting, and code formatting.

* IDEs are designed to make the coding process more efficient and productive by providing all the necessary tools and features in one place, which can save time and effort for developers.

* IDEs are commonly used for programming languages like Python, Java, C++, and many more.

**Few examples of IDE:**

* PyCharm
* Spyder
* IDLE
* Jupyter
* Visual Studio Code (VSCode):
* Google Colab

#Why Google Colab
* It is a web-based platform that does not require any installation or setup, making it easily accessible to anyone with an internet connection.
* It offers a free environment for users to run and execute code, making it ideal for beginners who may not want to invest in expensive hardware or software.
* It allows for collaborative work and sharing of code and notebooks, making it easy for beginners to work with others and get feedback on their work.
* It comes with pre-installed libraries and tools commonly used in data science, such as NumPy, Pandas, and Matplotlib, making it easy for beginners to start working on their projects without having to worry about setting up their environment.

#Let's go ahead and run our very first code. Excited? ðŸ˜Ž

In [ ]:
print('Hello Universe')

Hello Universe

At the backend, what's happening is that Python is reading the code line by line and executing the instructions. In this case, the print() command is called with "Hello Universe" as an argument. The print() command then displays "Hello Universe" on the console output.

**Python Version**
* To check the Python version of the editor, you can find it by importing the sys module:

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Mar 22 2024, 16:50:05) [GCC 11.4.0]

**The Python Command Line**
* To test a short amount of code in python sometimes it is quickest and easiest not to write the code in a file. This is made possible because Python can be run as a command line itself.
*Type the following on the Windows, Mac or Linux command line:

#Python Syntax
* Python is a high-level programing language widely used for web development,data ananlysis, Artificial Inteligence, and other application.
* The Syntax of Python is simple, easy, readable and easy to learn.
* Syntax is the rule that defines a program's writing and structure.

* **Some of the critical components of python structure inclue:**
* Variables
* Keywords
* Identifiers
* Indentation
* Datatypes  --> Numbers, String, List, Suple, Set, Dictionary
* Operators --> Arithmatic, Relational
* Function
* Input and Output

> ***Variables:***

---
* Variables in Python are used to store the data.
* You can assign a value to a variable using assinment operator(=). For example, the following code assigns the value "Hello, World!" to the variable message:

In [ ]:
message = "Hello, World!"
print(message)

Hello, World!

> ***Data types:***

Python has several built-in data types, including integers, floats, strings, and booleans. For example, the following code assigns an integer, a float, a string, and a boolean value to four different variables:

x = 5  # integer

y = 3.14  # float

name = "John"  # string

is_student = True  # boolean

> ***Operators:***

---



Python has several built-in operators, including **arithmetic operators** (e.g., +, -, *, /, %),  *comparison operators* (e.g., ==, !=, >, <, >=, <=), and **logical operators** (e.g., and, or, not). For example, the following code uses the + operator to add two numbers and the == operator to compare two values:

x = 5

y = 3

z = x + y

print(z)  # 8

a = "Hello"

b = "Universe"

c = a == b

print(c)  # False

> ***Identifiers:***

---

*  In Python, an identifier is a name given to a variable, function, class, module, or any other object.
* Identifiers are used to refer to these objects in the code. There are some rules and conventions to follow when naming identifiers in Python:

1.   Identifiers can contain letters, numbers, and the underscore (_) character.
2.   Identifiers cannot start with a number.
3.   Identifiers cannot contain spaces.
4.   Python has some reserved keywords that cannot be used as identifiers. (e.g. for, if, else, etc).
5. Python is case-sensitive, so the identifiers x and X are different. It is a good practice to follow the convention of using lowercase letters for identifiers, with words separated by underscores.

* **Valid identifier:**

my_var

myVar

my_var_1

* **Invalid identifier:**

1_var - starts with a number

my var - contains a space

for - a reserved keyword

> ***Loops:***

---


* Python also has several looping structures that can be used to execute a
block of code multiple times.
* For example, the "for" loop is used to iterate over a sequence of elements. The following code uses a "for" loop to print all the elements in a list:

In [1]:
fruits = ["Apple","Banaa", "Orange"]
for fruit in fruits:
  print(fruit)

Apple
Banaa
Orange

> ***Modules:***

---

* Python has a vast library, which is a collection of modules that provides additional functionality to the programming language.
* These modules can be imported into the program using the "import" keyword. For example, the following code imports the "math" module and uses the "sqrt" function from it to find the square root of a number:

In [2]:
import math
x = 5
print(math.sqrt(x))

2.23606797749979

> ***Control Flow:***

---

* Python has several control flow statements, including if-else, for loops, and while loops.
*  For example, the following code uses an if-else statement to check whether a number is greater than or less than 10:

In [3]:
x = 5
if x>10:
  print("Print 10 is greaterthan x ")
else:
  print("x is greater")

x is greater

> ***Functions:***

---
* Python allows you to define your own functions using the def keyword.  Functions take one or more arguments and return a value.
* For example, the following code defines a function that takes two arguments and returns their sum:

In [6]:
def add(x,y):
  return x+y

result = add(5,3)
print(result)

8

Many built-in functions come with the Python language. These functions can perform various tasks, such as converting data types, manipulating strings, working with numbers, and more. Some of the most commonly used built-in functions in Python include print(), type(), len(), str(), etc.

#Line Structure
* In Python, the structure of a line of code is relatively simple and consistent. Most lines of code will follow a similar structure, which can be broken down into the following parts:

> ***Keywords:***
---
* Python uses certain keywords to indicate different types of statements and expressions.
* For example, keywords like "if", "for", "def", and "import" are used to indicate control structures, loops, function definitions, and module imports, respectively.

> ***Here is a list of some of the most commonly used Python keywords:***
---

and: Logical operator

as: To create an alias

break: To exit a loop

class: To define a class

continue: To continue to the next iteration of a loop

def: To define a function

del : To delete an object

elif : Short for "else if" in a conditional statement

else : To specify an alternative block of code to execute

except : To handle exceptions

False: Boolean value

for: To create a for loop

from: To import specific elements from a module

while: To create a while loop

global: To indicate a global variable

if: To create a conditional statement

import: To import a module

in: To specify a membership test

is : To test object identity

lambda: To create an anonymous function

None: A special value that indicates the absence of a value

not: Logical operator

or: Logical operator

pass: A null statement, used as a placeholder

return: To exit a function and return a value

True: Boolean value

try: To handle exceptions


* All the keywords except True, False, and None are in lowercase, and they must be written as it is.

> ***Expressions:***
---
* Expressions are used to perform operations on variables and values. They can include mathematical operations, function calls, and variable assignments.
* For example, the following line of code assigns the result of the expression "5 + 7" to a variable "x":

x = 5 + 7

> ***Operators:***
---
* Operators are used to performing operations on variables and values. They include mathematical operators like "+", "-", "*", and "/", as well as comparison operators like "==", "!=", ">", and "<".
* For example, the following line of code compares two variables "x" and "y" and assigns the result to a variable "result":

result = x > y

> ***Separators:***
---
* Separators are used to separate different parts of a line of code. They include punctuation marks like commas and colons, as well as whitespace characters like spaces and tabs.
*
For example, the following line of code uses a comma to separate two arguments passed to the "print()" function:

print("Hello,", "world!")

> ***Comments:***
---
* Comments are used to provide explanations or documentation for the code.
* They are ignored by the interpreter and are indicated by a "#" symbol at the beginning of the line.
* For example, the following line of code is a comment: # this is comment

#Overall,
* the structure of a line of code in Python is relatively simple and consistent. Most lines of code will include a combination of keywords, expressions, operators, separators, and comments, depending on the type of statement or expression being used.

#Input/Output Structure
* In Python, some several built-in functions and methods can be used to handle input and output (I/O) operations. Here are some examples of how to use the most common I/O structures in Python:

> ***Input:***
---
* The `input()` function reads input from the user. This function reads a line of
text from the user and returns it as a string.
* For example, the following code prompts the user to enter their name and assigns the value to a variable "name":

In [7]:
name = input("Enter your Profession:")

Enter your Profession:Data Scientist

> ***Output:***
---
* The `print()` function displays output to the user. This function takes one or more arguments and displays them to the standard output (usually the console).
* For example, the following code prints a string "Hello, universe!" to the console:

In [8]:
print("Hello, universe!")

Hello, universe!

> ***File input/output:***
---
*  Python also provides functions and methods for reading from and writing to files. The `open()` function is used to open a file, and the `read()` and `write()` methods are used to read from and write to the file.
* For example, the following code opens a file "example.txt", reads the contents of the file and assigns it to a variable "content", and then closes the file.

In [ ]:
file = open("./requirements.txt","r")
content = file.read()
file.close()

> ***String formatting:***
---
* The `format()` method can insert values into a string. This method is used to insert values into placeholders in a string, which are indicated by curly braces {}.
* For example, the following code creates a string "Hello, {}!" with a placeholder and then uses the format method to insert a value into the placeholder:

In [9]:
greeting = "Hello, {}!"
name = "Karthik"
print(greeting.format(name))

Hello, Karthik!

> ***Integer input/output:***
---
* To read an integer input from the user, you can use the `input()` function and then convert the result to an integer using the `int()` function. For example:

In [4]:
age = int(input("What is your age: "))
print("Your age is:", age )

What is your age: 29
Your age is: 29

> ***Floating-point input/output:***
---
* To read a floating-point input from the user, you can use the `input()` function and then convert the result to a float using the `float()` function. For example:

In [5]:
height =  float(input("What is your Height: "))
print("Your height is:", height)

What is your Height: 5.3
Your height is: 5.3

> ***List input/output:***
---

* To read a list input from the user, you can use the `input()`  For example:

In [11]:
Vegitables = (input(" Please tell your favorate vegitables( Seperated by Comma ): "))
print(Vegitables.split(","))

 Please tell your favorate vegitables( Seperated by Comma ): Brinjal, Onion, Beans
['Brinjal', ' Onion', ' Beans']

> ***Boolean input/output:***
---
* To read a boolean input from the user, you can use the `input()` For example:

In [16]:
is_student_input = (input("Are you a student?(yes/no): ")).strip().lower()
is_student = is_student_input == "yes"
print("You are a student:", is_student)

Are you a student?(yes/no): No
You are a student: False

> ***JSON input/output:***
---
* To read or write JSON data, you can use the json module. For example, the following code writes a dictionary to a json file "example.json":

In [25]:
import json
data = {"Name":"Karthik", "age": 29}
with open("exampl.json","w") as file:
  json.dump(data,file)
with open("exampl.json","r") as file:
  content=json.load(file)
  print(content)

{'Name': 'Karthik', 'age': 29}

#Rules for naming a variable in Python
* Variable names must start with a letter or a unserscore( _ ) like :   name, _name
* The remainder of your variable name may consist of letters, numbers and underscores
* spacy1, pyThon,machine_learning are some valid variable names
* Names are case sensitive.
* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.
* It's a best practice to create a variable that should be coherent with the context you are working on. Let's say you are working with fruit data; the variable name should be "fruit" or "fruit_mango."

In [ ]:
Name = "Python"
Name

'Python'

In [ ]:
name ="python"
name

'python'

In [ ]:
_name="python"
_name

'python'

In [ ]:
name_1="python"
name_1

'python'

#Things didn't go very well there right? Let's see why

* Names cannot begin with a number. Python will throw an error when you try to do so

In [ ]:
1_name = "Python"

SyntaxError: invalid decimal literal (<ipython-input-10-a0ab1034b0ca>, line 1)

* Names can not contain spaces, use _ instead

In [ ]:
name 1 = "Python"

SyntaxError: invalid syntax (<ipython-input-11-ed497a2cce19>, line 1)

* Names can not contain any of these symbols:

:'",<>/?|\!@#%^&*~-+

In [ ]:
name@= "python"

TypeError: unsupported operand type(s) for @=: 'str' and 'str'

In [ ]:
name__# = "Python" Hello
name__

NameError: name 'name__' is not defined

* It is considered best practice that names are lowercase with underscores

* Avoid using Python built-in keywords like list, str , def, try etc. We will talk more about such conventions later on

#Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

**Text Type:**	     str

**Numeric Types:**	 int, float, complex

**Sequence Types:**	 list, tuple, range

**Mapping Type:**	   dict

**Set Types:**	     set, frozenset

**Boolean Type:**	   bool

**Binary Types:**	   bytes, bytearray, memoryview

**None Type:**	     NoneType

#Getting the Data Type

You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

#Setting the Data Type
* In Python, the data type is set when you assign a value to a variable:

In [ ]:
x= 5
type(x)

int

In [ ]:
x=5.0
type(x)

float

In [ ]:
x="Hello Universe"
type(x)

str

In [ ]:
x= 1+2j
type(x)

complex

In [ ]:
x=["Karthik","AI Engineer",2500000,True]
type(x)

list

In [ ]:
x=("Karthik","AI Engineer",2500000,True)
type(x)

tuple

In [ ]:
x=range(5)
print(x)

range(0, 5)

In [ ]:
x={"name":"karthik", "Age": 29, "Data Scientist":True }
type(x)

dict

In [ ]:
x={"Karthik","AI Engineer",29,"Karthik"}
print(x)
type(x)

{'Karthik', 29, 'AI Engineer'}

set

In [ ]:
x=frozenset({"Karthik","AI Engineer",29,"Karthik"})
print(x)
type(x)

frozenset({'Karthik', 29, 'AI Engineer'})

frozenset

In [ ]:
x=True
type(x)

bool

In [ ]:
x=b"Scientist"
print(x)
type(x)

b'Scientist'

bytes

In [ ]:
x=bytearray(5)
print(x)
type(x)

bytearray(b'\x00\x00\x00\x00\x00')

bytearray

In [ ]:
x=memoryview(bytes(5))
print(x)
type(x)

<memory at 0x7cfffbfec640>

memoryview

In [ ]:
x=None
print(x)
type(x)

None

NoneType

#Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

Example	Data Type:

x = str("Hello World")	    :str

x = int(20)	                :int

x = float(20.5)	:float

x = complex(1j)	:complex

x = list(("apple", "banana", "cherry"))	:list

x = tuple(("apple", "banana", "cherry"))	:tuple

x = range(6)	:range

x = dict(name="John", age=36)	:dict

x = set(("apple", "banana", "cherry"))	:set

x = frozenset(("apple", "banana", "cherry"))	:frozenset

x = bool(5)	:bool

x = bytes(5)	:bytes

x = bytearray(5)	:bytearray

x = memoryview(bytes(5))	:memoryview

#Numeric Data Types in Python

**int:** Int, or integer, is a whole number, positive or negative,zero, or without decimals, of unlimited length.

In [ ]:
# Example
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**float:** Float, or "floating point number" is a number, positive or negative, containing one or more decimals.


they have a decimal point in them, or use an exponential (E) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 1.10
y = 4E2
z = -35.59
a=5e2

print(type(x))
print(type(y))
print(type(z))
type(a)

<class 'float'>
<class 'float'>
<class 'float'>

float

**complex:**
Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x=3+5j
y=5j
z=-3+5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#Basic Arithmetic
Let's explore some basic arithmetic operations. Run the code cells to see the answers come to life!

In [ ]:
#Addition
5+3

8

In [ ]:
#Subtraction
5-3

2

In [ ]:
#Multiplication
5*3

15

In [ ]:
#Division
5/3

1.6666666666666667

In [ ]:
#Exponential
5**3

125

In [ ]:
#Foor division
5//3

1

In [ ]:
#Modulus
5%3   # remainder

2

#BODMAS

operator precedence in python follows the BODMAS rule for arithmetic expressions. The precedence of operators is listed below in a high to low manner.

Firstly, parantheses will be evaluated, then exponentiation and so on.

B â€“ Bracket

O â€“ Order

D â€“ Division

M â€“ Multiplication

A â€“ Addition

S â€“ Subtraction

1. Parentheses: Expressions inside parentheses are always evaluated first.

2. Exponents: The ** operator is evaluated next.

3. Multiplication and Division: *, /, // and % are evaluated from left to right next.

4. Addition and Subtraction: + and - are evaluated last, from left to right.

(5 + 2) * 3 ** 2 - 1

=7*3 ** 2 - 1

=7*9-1

=63-1

=62

In [ ]:
# BODMAS nostalgia
print((5+2)*3**2-1)

62

In [ ]:
2+10*(10+3)

132