<a href="https://colab.research.google.com/github/Karthikraja131/Python/blob/main/Python_Type_casting_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Type casting
It is a process of converting a variable from one data type to another in Python.

In [1]:
# int() Type casting

print(int(123.45))
print(int(123.789641122321))
print(int(True))
print(int(False))
print((int("10")))

123
123
1
0
10

In [4]:
# float()

print(float(10))
print(float(True))
print(float(False))
print(float("20"))
print(float("20.5"))

10.0
1.0
0.0
20.0
20.5

In [5]:
print(float('Karhtik'))

ValueError: could not convert string to float: 'Karhtik'

In [2]:
#bool

In [7]:
print(bool(0))
print(bool(1))
print(bool(0.0))
print(bool(5))
print(bool(0.5))
print(bool(""))
print(bool("Hi"))
print(bool("True"))
print(bool("False"))

False
True
False
True
True
False
True
True
True

In [2]:
A